*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial;
    background: linear-gradient(to right, #667eea, #764ba2);
    color: white;
}

/* NAV */
nav{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    background: rgba(0,0,0,0.3);
}

nav a{
    color: white;
    text-decoration: none;
    padding: 10px;
}

nav a:hover{
    background: white;
    color: black;
    border-radius: 5px;
}

/* SECTIONS */
section{
    padding: 60px;
    text-align: center;
}

/* CARD */
.card{
    background: rgba(255,255,255,0.2);
    padding: 15px;
    margin: 10px auto;
    width: 200px;
    border-radius: 10px;
}

/* BUTTON */
button{
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

/* FOOTER */
footer{
    text-align: center;
    padding: 20px;
    background: rgba(0,0,0,0.3);
}

/* RESPONSIVE */
@media (max-width: 768px){
    nav{
        flex-direction: column;
    }

    section{
        padding: 20px;
    }
}